:root {
  --cor-fundo-transparente: #4edcff54;
}

.menu-personagem {
  border-radius: 8px;
  backdrop-filter: blur(8px);
  background-color: var(--cor-fundo-transparente);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 80px;
  box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.432);
}

.jogador {
  color: white;
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.521);
}

.controle {
  height: 30px;
  width: 30px;
}

#emote {
  transition: all 0.5s ease;
  width: 50px;
  height: 50px;
  background-color: rgb(166, 255, 149);
  padding: 5px;
  border-radius: 10px;
}

#temporizador {
  width: fit-content;
  padding: 15px;
  border-radius: 5px;
  background-color: rgb(0, 86, 112);
  /* backdrop-filter: blur(8px); */
  color: rgb(255, 255, 255);
  font-size: 1em;
  font-weight: bold;

}

.coracao {
  transition: all 0.3s ease;
  padding: 5px;
  border-radius: 100%;
  background-color: rgb(255, 177, 177);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-principal {
  background-color: var(--cor-fundo-transparente);
  backdrop-filter: blur(5px);
  border: 4px dashed rgb(0, 39, 97);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(11, 30px);
  grid-template-rows: repeat(11, 30px);
  gap: 4px;
}

img {
  width: 30px;
  height: 30px;
}

.indiceColuna,
.indiceLinha {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 55, 138);
  color: white;
  font-weight: bold;
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.315);
}

.indiceColuna {
  border-radius: 100% 100% 10px 10px;
}

.indiceLinha {
  border-radius: 100% 10px 10px 100%;
}

.card {
  height: 30px;
  width: 30px;
  position: relative;
  transition: all 0.3s;
  transform-style: preserve-3d;
}

.face {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  position: absolute;
  background-size: cover;
  background-position: center;
}

.front {
  opacity: 0;
  transform: rotateY(180deg);
  border-radius: 5px;
}

.back {
  transition: 0.5s;
  background-color: rgb(148, 212, 255);
  background-image: url("IconesBatalhaNaval/Fire-icon.png");
  backface-visibility: hidden;
}

.back:hover {
  cursor: pointer;
  background-color: rgb(194, 0, 0);
  border-radius: 14px;
}

.card-revelado {
  transform: rotateY(180deg);
}

.celula-revelada {
  opacity: 0.3;
}

.Wave {
  background-color: rgb(121, 213, 255);
  background-image: url("IconesBatalhaNaval/Wave.png");
}

.Bomb {
  transition: 0.3s ease;
  background-color: rgb(255, 47, 47);
  background-image: url("IconesBatalhaNaval/Bomb.png");
}

.escudo {
  background-color: rgb(216, 216, 216);
  background-image: url("IconesBatalhaNaval/escudo.png");
}

.Ship-1 {
  background-color: rgb(165, 117, 90);
  border: 8px solid rgba(0, 0, 0, 0.452);
}

.Ship-2 {
  background-color: rgb(70, 70, 70);
  border: 8px solid rgba(0, 0, 0, 0.452);
}

.Ship-3 {
  background-color: rgb(45, 98, 141);
  border: 8px solid rgba(0, 0, 0, 0.452);
}

.Ship-4 {
  background-color: rgb(109, 131, 255);
  border: 8px solid rgba(0, 0, 0, 0.452);
}

.Ship-5 {
  background-color: rgb(107, 66, 38);
  border: 8px solid rgba(0, 0, 0, 0.452);
}

.Ship-6 {
  background-color: rgb(138, 138, 138);
  border: 8px solid rgba(0, 0, 0, 0.452);
}

.primeira-extremidade-navio-vertical {
  border-radius: 100% 100% 5px 5px;
}

.ultima-extremidade-navio-vertical {
  border-radius: 5px 5px 100% 100%;
}

.primeira-extremidade-navio-horizontal {
  border-radius: 100% 5px 5px 100%;
}

.ultima-extremidade-navio-horizontal {
  border-radius: 5px 100% 100% 5px;
}

.navio-derrubado {
  transition: all 0.5s ease;
  background-color: rgba(128, 0, 0, 0.705);
}

.pisca-navio {
  transition: all 0.5s ease;
  filter: grayscale(0);
  background-color: rgba(255, 0, 0, 0.74);
}

.grid-navios {
  margin-left: 30px;
  background-color: #ffffff5e;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 12px;
  border-radius: 8px;
}

.grid-navios-item {
  display: grid;
  grid-template-columns: 30px 30px 30px;
  grid-template-rows: 30px;
  gap: 2px;
  justify-content: center;
}

#fim-jogo {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.6s all;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  pointer-events: none;
  opacity: 0;
  transform: scale(0.9);
}

#fim-jogo.aberto {
  opacity: 1;
  transform: scale(1);
  pointer-events: all;
}

button {
  border: none;
  box-shadow: none;
  background-color: transparent;
  outline: none; 
}

button:hover {
  cursor: pointer;
}

#fim-jogo button img {
  transition: 0.3s;
  height: 26px;
  width: 26px;
  padding: 4px;
  background-color: #ff8383;
  border-radius: 100%;
}

#fim-jogo button img:hover {
  background-color: #E55353;
  transform: scale(1.1);
}

.popup-container {
  background-color: rgba(255, 255, 255, 0.603);
  border: 3px solid;
  border-bottom: 3px dashed;
  border-color: rgb(0, 71, 179);
  padding: 50px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup-container button {
  transition: 0.6s;
  font-weight: bold;
  font-size: 1em;
  background-color: rgb(66, 142, 255);
  color: black;
  padding: 15px;
  border: none;
  border-radius: 15px;
}

.popup-container button:hover {
  cursor: pointer;
  background-color: rgb(0, 102, 255);
  color: white;
  border-radius: 30px;
}

.popup-container a {
  transition: 0.5s;
  color: rgb(0, 102, 255);
  font-weight: bold;
}

.popup-container a:hover {
  color: rgb(0, 69, 172);
}
