:root {
  --cor-base-botao: rgb(156, 0, 0);
}

form {
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9fd9ff00;
  backdrop-filter: blur(5px);
  padding: 50px;
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.384);
}

form:hover {
  backdrop-filter: blur(10px);
  transform: scale(1.02);
}

.form-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-header img {
  width: 70px;
  height: 70px;
}

.form-header h1 {
  color: white;
  font-size: 1.5em;
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.671);
}

input {
  transition: 0.5s;
  border: 3px solid #333;
  border-bottom: 3px dashed #333;
  border-radius: 8px;
  color: #333;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 15px;
  outline: none;
  padding: 15px;
  width: 100%;
}

button {
  cursor: pointer;
  padding: 15px;
  width: 100%;
  transition: 0.6s ease; 
  background-color: rgb(255, 128, 128);
  border: 3px solid var(--cor-base-botao);
  color: var(--cor-base-botao);
  border-radius: 8px;
  font-size: 1em;
  font-weight: bold;
}

button:hover {
  background-color: var(--cor-base-botao);
  color: white;
  border-radius: 16px;
}

button:disabled {
  background-color: #eee;
  border: 3px solid #969595;
  color: #aaa;
  cursor: auto;
}
